/* full reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* basic typography formatting*/
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #190f35;
  color: #eaeaea;
}
/* header styling */
h2 {
  font-family: "Saira Stencil One", sans-serif;
  font-size: 55px;
}

header {
  padding: 3rem 1rem;
  text-align: center;
}
/* grid layout formatting */
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}
/* lyrics styling */
article p {
  margin-bottom: 1.2rem;
}
/* chorus specific styling */
blockquote {
  margin: 2rem 0;
  border-left: 4px solid #7fd1c9;
  padding-left: 1rem;
  font-style: italic;
}
/* header 4 formatting */
article h4 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

article h4 + blockquote {
  margin-top: 0;
}

/* aside styling */
aside {
  background-color: #24175c;
  padding: 1.5rem;
}
/*footer styling */
footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem;
  opacity: 0.7;
}


/* filter i used for checking contrast */
/* html {
  filter: grayscale(100%);
}  */
