* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
    font-family: 'Saira Stencil One';
    font-size: 55px;
}

body {
  font-family: "Source Serif 4", serif;
  line-height: 1.6;
  background-color: #190f35;
  color: #eaeaea;
}